<div class="container">
    <div class="row">
        <!-- About Me-->
        <div class ="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="img/me.jpeg" alt="profile picture" width ="250" height = "250" class = "rounded-circle">
            </div>
            <p></p>
            <p>
                Hi (: I'm Charlene, a former Math educator turned tech enthusiast. As a kid, I loved playing with HTML and Photoshop, but life led me to pursue Math as a junior college lecturer. Tech was always on my mind, though, so when the chance to join a cybersecurity traineeship arose, I jumped at it. My 1.5 years as a Cybersecurity Engineer at a local bank opened my eyes to the power of automation — I taught myself VBA and macros to streamline tedious tasks, cutting admin work in half.
                <br><br>
                Now, I'm pursuing a Master's in Computing at NUS, diving deeper into the world of tech. This website is my space to explore Angular and showcase my projects. I hope you enjoy looking around, and I'd love to connect with you <a class="text-secondary" routerLink="/contact" routerLinkActive="text-dark">here</a>.
            </p>

        </div>

        <!-- Featured Project-->
        <div class ="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the portfolio section to learn more!</p>

        </div>

    </div>
</div>
